@model IEnumerable<Assessment5a.Models.Calculator>

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>
<h3>@ViewBag.Result</h3>
<h3>@ViewBag.Operation</h3>





<div>
    <a asp-action="Calculator">Try again</a>
</div>